@model Authorization
@{
    ViewData["Title"] = "Авторизация";
}
<form method="post" asp-controller="Authorization" asp-action="Check"> @*метод check отвечает за обработку данных поступающих из этой формы *@
    <label asp-for="CheckLogin"></label>
    <input asp-for="CheckLogin" />
    <span asp-validation-for="CheckLogin"></span>

    @Html.Password("password")
    <label asp-for="СheckPass"></label>
    <input asp-for="СheckPass" />
    <span asp-validation-for="СheckPass"></span>

    <input type="submit" value="Войти" />
    <dd >  <a href="/first" > Регистрация  </a> </dd>
</form>
