@model First
@{
    ViewData["Title"] = "Первая страница";
}
<formmethod ="post" asp-controller="First" asp-action="Check">
    <dd> <a href="/reg"> Регистрация как студента </a> </dd>
    <dd> <a href="/regEm"> Регистрация как работодателя </a> </dd>
    <dd>  <a href="/authorization"> Авторизация </a> </dd>
   
</formmethod>