@model Study
@{
    ViewData["Title"] = "Страница студентов";
}
<h1>Страница студентов</h1>

<form method="post" asp-controller="Study" asp-action="Check">
    <label asp-for="FIO"></label>
    <input asp-for="FIO"/>
    <span asp-validation-for="FIO"></span>

    <label asp-for="Gr"></label>
    <input asp-for="Gr" />
    <span asp-validation-for="Gr"></span>

    <label asp-for="Specialization"></label>
    <input asp-for="Specialization" />
    <span asp-validation-for="Specialization"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="ProgLenguages"></label>
    <input asp-for="ProgLenguages" />
    <span asp-validation-for="ProgLenguages"></span>


    <input type="submit" value="Отправить" />
</form>
