@model Study
@{
    ViewData["Title"] = "Страница студентов";
}
<h1>Страница студентов</h1>

<form method="post" asp-controller="Study" asp-action="Check">
    


    <input type="submit" value="Отправить" />
</form>
