@*@model StudyWork.Domain.ViewModels.Account.RegisterViewModel*@

@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}
@*<div class="container py-5">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <span class="anchor"></span>
                <div class="card card-outline-secondary border border-white">
                    <div class="card-header">
                        <h3 class="mb-0 text-center paragrapHome text-black">Регисстрация</h3>
                    </div>

                    <div class="card-body">
                        <form asp-controller="Account" asp-action="Register">
                            <div asp-validation-summary="All" style="accent-color" class="text-danger text-center"></div>
                            <div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
*@