@model Employer
@{
    ViewData["Title"] = "Страница работодателя";
}
<h1>Страница работодателя</h1>

<form method="post" asp-controller="Employer" asp-action="Check">
    <label asp-for="FIO"></label>
    <input asp-for="FIO" />
    <span asp-validation-for="FIO"></span>

    <label asp-for="Company"></label>
    <input asp-for="Company" />
    <span asp-validation-for="Company"></span>

    

    <input type="submit" value="Отправить" />
</form>